# Root dot-directories (local config, tooling, etc.)
/.*/

# Environment
.env

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Datasets
data/
*.zip
*.tar.gz
*.rar

# Model weights
*.pth
*.pt
*.h5
*.pkl
*.onnx
*.weights
*.engine
